<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="acoes">
    <div class="top-actions d-flex flex-wrap align-items-center justify-content-end gap-2">
        <div th:replace="~{fragments/notificacao-relatorio-mensal :: sino}"></div>

        <a th:if="${mostrarConfiguracaoTaxas}"
           th:href="@{/agendamentos/financeiro/configuracao-taxas}"
           class="btn btn-outline-light btn-sm">
            Configuracao de taxas
        </a>

        <a th:if="${mostrarGestaoFinanceira}"
           th:href="@{/agendamentos/financeiro}"
           class="btn btn-outline-light btn-sm">
            Gestao financeira
        </a>

        <a th:href="@{/agendamentos/dashboard}" class="btn btn-light btn-sm">
            Voltar para agenda
        </a>

        <a th:href="@{/agendamentos/relatorio/mensal}" class="btn btn-light btn-sm">
            Relatorio
        </a>

        <form th:action="@{/logout}" method="post" class="d-inline">
            <th:block th:replace="~{fragments/csrf :: token}"></th:block>
            <button type="submit" class="btn btn-warning btn-sm">Sair</button>
        </form>
    </div>
</div>
</body>
</html>
